<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Onboarding Agreement</title>
    <style>
        @page {
            size: A4;
            margin: 20mm 20mm 30mm 20mm;
            @top-right {
                content: element(header);
            }

            @bottom-center {
                content: element(footer);
            }
        }

        .header {
            position: running(header);
            text-align: right;
        }

        .footer {
            position: running(footer);
            text-align: center;
            font-size: 12px;
            color: #333;
        }

        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        ul {
            list-style-type: disc; /* Force solid black dots */
        }
    </style>
</head>

<body>
<div class = "header">
    <p><img style="filter: brightness(0.6) opacity(0.6);" src="https://sgp1.digitaloceanspaces.com/nexstream-dev/citadel/settings/January2025/0xuAZp96FZdfmKoP8Q1t.png" height="53" width="220" alt="Citadel Logo"/></p>
</div>
<div class = "footer" style="margin-right: 60px; margin-left: 60px;">
    <table style="width: 100%; text-align: center; border-spacing: 0; border-collapse: collapse;">
        <tr>
            <td colspan="3"><p style="opacity: 0.6;">Citadel Group Sdn. Bhd, L3-1 Wisma LYL, No 12, Jalan 51A/223, Seksyen 51A, 46100 Petaling Jaya, Selangor, Malaysia</p></td>
        </tr>
<!--        <tr>-->
<!--            <td style="text-align: right; padding-left: 40px;">-->
<!--                <a style="text-decoration: none" >-->
<!--                    <img style="width: 20px; height: 20px; margin-right: 5px; filter: brightness(0.6) opacity(0.6);" src="https://sgp1.digitaloceanspaces.com/nexstream-dev/citadel/settings/January2025/wfYXK38zEjtX3HfG5aNO.png"/>-->
<!--                </a>-->
<!--                <a style="text-decoration: none" >-->
<!--                    <img style="width: 20px; height: 20px; margin-right: 5px; filter: brightness(0.6) opacity(0.6);" src="https://sgp1.digitaloceanspaces.com/nexstream-dev/citadel/settings/January2025/Rnif43zuqWNHAi9NJVYG.png"/>-->
<!--                </a>-->
<!--                <a style="text-decoration: none" >-->
<!--                    <img style="width: 20px; height: 20px; filter: brightness(0.6) opacity(0.6);" src="https://sgp1.digitaloceanspaces.com/nexstream-dev/citadel/settings/January2025/7U5H7waUflUKHGyQG3Mw.png"/>-->
<!--                </a>-->
<!--            </td>-->
<!--            <td><p style="opacity: 0.6;">citadelgroupofficial</p></td>-->
<!--            <td style="text-align: left; padding-right: 40px;"><p style="opacity: 0.6;">www.citadelgroup.online</p></td>-->
<!--        </tr>-->
    </table>
</div>

<p><b>ONBOARDING AGREEMENT</b></p>
<p>Our Terms and Conditions were last updated on 15th January 2025.</p>
<p>Please read these terms and conditions carefully before using Our Service.</p>
<p><b>Interpretation and Definitions Interpretation</b></p>
<ol>
    <li><b>Interpretation</b></li>
    <p>The words of which the initial letter is capitalized have meanings
        defined under the following conditions. The following definitions shall
        have the same meaning regardless of whether they appear in singular or
        plural.</p>
    <li><b>Definitions</b></li>
    <p>For the purposes of these Terms and Conditions:</p>
    <ul>
        <li><p>“Application” means the software program provided by the Company downloaded by You on any electronic
            device, named CITADEL FIRST.</p></li>
        <li><p>“Application Store” means the digital distribution service operated and developed by Apple Inc. (Apple
            App Store) or Google Inc. (Google Play Store) in which the Application has been downloaded.</p></li>
        <li><p>“Affiliate” means an entity that controls, is controlled by or is under common control with a party,
            where "control" means ownership of 50% or more of the shares, equity interest or other securities
            entitled to vote for election of directors or other managing authority.</p></li>
        <li><p>“Account” means a unique account created for You to access our Service
            or parts of our Service.</p></li>
        <li><p>“Company” (referred to as either "the Company", "We", "Us" or "Our" in
            this Agreement) refers to CITADEL GROUP SDN. BHD.</p></li>
        <li><p>“Country” refers to Malaysia.</p></li>
        <li><p>“Content” refers to content which includes without limitation all
            forms of text, files, data, images, photographs, pictures, logos,
            video streaming, news or other information that can be posted,
            uploaded, linked to or otherwise made available by You, regardless of
            the form of that content.</p></li>
        <li><p>“Device” means any device that can access the Service such as a
            computer, a cell phone or a digital tablet.</p></li>
        <li><p>“Feedback” means feedback, innovations or suggestions sent by You
            regarding the attributes, performance or features of our Service.</p></li>
        <li><p>“Service” refers to the use and access to the Website.</p></li>
        <li><p>“SuperApp” refers to the mobile application developed by CITADEL GROUP
            SDN. BHD.</p></li>
        <li><p>“Terms and Conditions” mean these Terms and Conditions that form the
            entire agreement between You and the Company regarding the use of the
            Service.</p></li>
        <li><p>“Third-party Social Media Service” means any services or content
            (including data, information, products or services) provided by a
            third-party that may be displayed, included or made available by the
            Service.</p></li>
        <li><p>“You”, “Your” or “User” means the individual accessing or using the
            Service, or the company, or other legal entity on behalf of which such
            individual is accessing or using the Service, as applicable.</p></li>
    </ul>
    <li><b>Acknowledgement</b></li>
    <p>These are the Terms and Conditions governing the use of this Service and
        the agreement that operates between You and the Company. These Terms and
        Conditions set out the rights and obligations of all users regarding the
        use of the Service.</p>
    <p>Your access to and use of the Service is conditioned on Your acceptance
        of and compliance with these Terms and Conditions. These Terms and
        Conditions apply to all visitors, users and others who access or use the
        Service.</p>
    <p>By accessing or using the Service You agree to be bound by these Terms
       and Conditions. If You disagree with any part of these Terms and
       Conditions, then You may not access the Service.</p>
    <p>Our Service is the property of the Company. To this end, we grant you a
        non-exclusive, non-sub-licensable, revocable and limited license to
        access our Platform to enjoy personal, non-commercial use of our Service
        in accordance with these Terms and Conditions. We do not grant You any
        other rights or licenses with respect to our Service. Any rights or
        licenses not expressly granted herein are reserved. You represent and
        warrant to us that your access to, and use of, our Service is intended
        only for personal, non-commercial use.</p>
    <p>You represent that you are over the age of 18. The Company does not
       permit those under 18 to use the Service.</p>
    <p>Your access to and use of the Service is also conditioned on Your
        acceptance of and compliance with the Privacy Policy of the Company. Our
        Privacy Policy describes Our policies and procedures on the collection,
        use and disclosure of Your personal information when You use the
        Application or the Website and tells You about Your privacy rights and
        how the law protects You. Please read Our Privacy Policy carefully
        before using Our Service.</p>
    <li><b>User Accounts</b></li>
    <p>When You create an account with Us, You must provide Us information that
        is accurate, complete, and current always. Failure to do so constitutes
        a breach of the Terms and Conditions, which may result in immediate
        termination of Your account on Our Service.</p>
    <p>When selecting a username, you agree not to select or use a username the
       name of another person or entity or that is not lawfully available for
       use, a name or trademark that is subject to any rights of another person
       or entity other than You without appropriate authorization, or a name
       that is otherwise offensive, vulgar or obscene.</p>
    <p>You are responsible for safeguarding the password that You use to access
       the Service and for any activities or actions under Your password,
       whether Your password is with Our Service or a Third-Party Social Media
       Service.</p>
    <p>You agree not to disclose Your password to any third party. You must
       notify Us immediately upon becoming aware of any breach of security or
       unauthorized use of Your account.</p>
    <li><b>Information as Content</b></li>
    <p><u>Your Right to Post Information as Content</u></p>
    <p>Our Service allows You to post your information as Content. You are
       responsible for the Content that You post to the Service, including its
       legality, reliability, and appropriateness.</p>
    <p>By posting information as content to the Service, You grant Us the right
       and license to use, modify, publicly perform, publicly display,
       reproduce, and distribute such Content on and through the Service. You
       retain any and all of Your rights to any information as content You
       submit, post or display on or through the Service and You are
       responsible for protecting those rights. You agree that this license
       includes the right for Us to make Your information as content available
       to other users of the Service, who may also use Your information as
       content subject to these Terms.</p>
    <p>You represent and warrant that: (i) the information as content is Yours
       (You own it) or You have the right to use it and grant Us the rights and
       license as provided in these Terms and Conditions, and (ii) the posting
       of Your information as content on or through the Service does not
       violate the privacy rights, publicity rights, copyrights, contract
       rights or any other rights of any person.</p>
    <p>We make no guarantees as to the authenticity, accuracy or completeness
       of any Content on our Service, including Content provided by you or
       other third-party. We also make no guarantees that the Content available
       on our Service has not been altered through technical defects or by
       unauthorised third parties.</p>
    <p>The Content that you post should not include personal information. If it
       does, it can only be used for the purposes herein and only if such use
       complies with applicable data protection laws in accordance with our
       Privacy Policy.</p>
    <li><b>Content Restrictions</b></li>
    <p>The Company is not responsible for the information as content of the
       Service's users. You expressly understand and agree that You are solely
       responsible for the information as content and for all activity that
       occurs under your account, whether done so by You or any third person
       using Your account.</p>
    <p>You may not transmit any information as content that is unlawful,
       offensive, upsetting, intended to disgust, threatening, libelous,
       defamatory, obscene or otherwise objectionable. Examples of such
       objectionable information as content include, but are not limited to,
       the following:</p>
    <ul>
        <li><p>Unlawful or promoting unlawful activity.</p></li>
        <li><p>Defamatory, discriminatory, or mean-spirited content, including
            references or commentary about religion, race, sexual orientation,
            gender, national/ethnic origin, or other targeted groups.</p></li>
        <li><p>Spam, machine- or randomly-generated, constituting unauthorized or
            unsolicited advertising, chain letters, any other form of unauthorized
            solicitation, or any form of lottery or gambling.</p></li>
        <li><p>Containing or installing any viruses, worms, malware, trojan horses,
            or other content that is designed or intended to disrupt, damage, or
            limit the functioning of any software, hardware or telecommunications
            equipment or to damage or obtain unauthorized access to any data or
            other information of a third person.</p></li>
        <li><p>Infringing on any proprietary rights of any party, including patent,
            trademark, trade secret, copyright, right of publicity or other
            rights.</p></li>
        <li><p>Impersonating any person or entity including the Company and its
            employees or representatives.</p></li>
        <li><p>Violating the privacy of any third person.</p></li>
        <li><p>False information and features.</p></li>
    </ul>
    <p>The Company reserves the right, but not the obligation, to, in its sole
       discretion, determine whether or not any information as content is
       appropriate and complies with these Terms and Conditions, refuse or
       remove this information as content. The Company further reserves the
       right to make formatting and edits and change the manner of any
       information as content. The Company can also limit or revoke the use of
       the Service if You post such objectionable information as content. As
       the Company cannot control all content posted by users and/or third
       parties on the Service, you agree to use the Service at your own risk.</p>
    <p>You understand that by using the Service You may be exposed to content
       that You may find offensive, indecent, incorrect or objectionable, and
       You agree that under no circumstances will the Company be liable in any
       way for any content, including any errors or omissions in any
       information as content, or any loss or damage of any kind incurred as a
       result of your use of any information as content.</p>
    <li><b>Information Content Backups</b></li>
    <p>Although regular backups of information content are performed, the
       Company does not guarantee there will be no loss or corruption of data.</p>
    <p>Corrupt or invalid backup points may be caused by, without limitation,
       information as content that is corrupted prior to being backed up or
       that changes during the time a backup is performed.</p>
    <p>The Company will provide support and attempt to troubleshoot any known
       or discovered issues that may affect the backups of information as
       content. But You acknowledge that the Company has no liability related
       to the integrity of information as content or the failure to
       successfully restore information as content to a usable state.</p>
    <p>You agree to maintain a complete and accurate copy of any Content in a
       location independent of the Service.</p>
    <li><b>Personal Data</b></li>
    <p>Where the Personal Data Protection Act 2010 (PDPA) is relevant to the
       disclosure of data or information by the User hereto or in connection
       with this Terms and Conditions, the Company hereby agree to fully
       comply with the provisions of the PDPA and in accordance with the
       following manner:-</p>
    <p><u>SuperApp Privacy Policy</u></p>
    <p>The Company takes your right to privacy seriously and commits to
       protecting your personally identifiable information (‘personal data’)
       and the laws of Malaysia. Please read this Privacy Notice to understand
       how we process the personal data we may collect from you prior to
       providing us with your personal data. By visiting or viewing our
       website, applications or social media sites, using or subscribing to any
       of our products or services or when you provide your personal data to
       us, you are agreeing to the provisions of this Privacy Notice and the
       processing of your personal data as described in this Privacy Notice,
       and you confirm that all personal information provided by you is
       accurate and complete and that none of it is misleading or out of date.</p>
    <p>This Privacy Notice is applicable if you are a clients of the Company
       or if you are not one of our clients but you interact with us as part
       of our business including taking part in any of our programs, using,
       subscribing or purchasing any of our products or services, whether for
       free or paid for by you or a third party, taking part in a survey or
       trial, calling our helpdesk, or generally enquiring about our products
       and/or services.</p>
    <p>The Company may amend this Privacy Policy from time to time. As such,
       you are expected to read this Privacy Policy each time you wish to
       provide your personal data to the Company. Substantial amendments to
       this policy will be announced on this website.</p>
    <p>The legal basis we rely on for processing of your personal data may be:</p>
    <ul>
        <li><p>your consent;</p></li>
        <li><p>compliance with the Company’s legal obligations;</p></li>
        <li><p>protection of your vital interests as well as the vital interests of
            other individuals;</p></li>
        <li><p>The Company’s performance of statutory duties;</p></li>
        <li><p>The Company’s legitimate interests.</p></li>
    </ul>
    <p>The types of personal data which the Company may need to process include
       but are not limited to:</p>
    <ul>
        <li><p>your name, date of birth, identification supporting documents
            (including NRIC or passport number), gender, nationality and race,
            preferred language, current private and/or business address,
            installation address, telephone or mobile phone number, fax number,
            email address, questions and/or data to facilitate security measures
            we have for your account;</p></li>
        <li><p>your credit and/or debit card information, bank account details and
            your payment history;</p></li>
        <li><p>the status of the products and/or services you have acquired from us
            or subscribed to;</p></li>
        <li><p>the amount of data that has been received and/or sent by you;</p></li>
        <li><p>the equipment (such as your mobile and/or fixed devices, your computer
            system) and/or software you use when accessing our and/or our related
            corporations’, preferred merchants’ and strategic partners’ products
            and/or services;</p></li>
    </ul>
    <p>The Company will only collect and process personal data to the extent
       that such personal data is necessary for the relevant purpose. The
       Company will only collect and process personal data to the extent that
       such personal data is necessary for providing you with our Service, and
       the products and services of our affiliates and such other purposes as
       permitted by applicable law or with your consent, or other purposes
       incidental and associated with our Service and our related corporations
       and affiliates.</p>
    <p>As part of providing you with our Service, we may need to disclose your
       personal data to third parties, including but not limited to our related
       corporations, agents, affiliates, service providers, suppliers, vendors,
       business partners, where necessary, and subject at all times to any laws.</p>
    <p>You may always choose what personal data you would like to provide us.
       However, it is obligatory to provide all personal data as described in
       this Privacy Notice to enable us to provide you with high quality of our
       Service that will help you meet your needs. Failure to supply such
       information may hinder us from providing you with our Service.</p>
    <p>You have the right under PDPA 2010 to make a data access request with
       respect to your personal data held by us. Where you wish to have access
       to or where you want to correct any of your personal data, you can do so
       by sending us a request in writing by mail to The Company. We reserve
       the right to charge you a fee for requesting access and correction of
       personal data subject to the applicable privacy or data protection laws.</p>
    <p>Should you have any query in relation to this Privacy Notice or how we
       handle your personal data, kindly contact us via email: ${citadelCorporateEmail}</p>
    <p><u>Consent</u></p>
    <p>To the extent that any of the data/information of the User is disclosed
       pursuant to this Terms, the User hereby irrevocably consent, authorize
       and confirm that the data/information belongs to the User or the User
       have the right to use it and grant the Company the rights and license as
       provided in these Terms and Conditions, and the posting of the User’s
       information as content on or through the Service does not violate the
       privacy rights, publicity rights, copyrights, contract rights or any
       other rights of any person.</p>
    <li><b>Copyright Policy</b></li>
    <p><u>Intellectual Property</u></p>
    <p>The Service and its original content (excluding information content
       provided by You or other users), features and functionality are and will
       remain the exclusive property of the Company and its licensors.</p>
    <p><u>Intellectual Property Infringement</u></p>
    <p>We respect the intellectual property rights of others. It is Our policy
       to respond to any claim that Content posted on the Service infringes a
       copyright or other intellectual property infringement of any person.</p>
    <p>If you believe that any copyrighted work has been copied or used in a manner that
        constitutes copyright infringement through the Service, you must submit a written notice
        to Citadel Group via email ${citadelCorporateEmail}. Your notice must include:</p>
    <ul>
        <li><p>A detailed description of the copyrighted work that you claim has been infringed.</p></li>
        <li><p>A detailed description of the material you claim is infringing, including its
            location on the platform (such as URLs, document titles, or screenshots).</p></li>
        <li><p>A statement that you have a good-faith belief that the disputed use is not
            authorized by the copyright owner, its agent, or the law.</p></li>
    </ul>
    <p>You may be held accountable for damages (including costs and attorneys'
       fees) for misrepresenting that any Content is infringing Your copyright.</p>
    <li><b>Other Websites and Third-Party Links</b></li>
    <p>Our Service may contain links to third-party websites or services that
       are not owned or controlled by the Company.</p>
    <p>The Company has no control over, and assumes no responsibility for, the
       content, privacy policies, or practices of any third-party web sites or
       services. You further acknowledge and agree that the Company shall not
       be responsible or liable, directly or indirectly, for any damage or loss
       caused or alleged to be caused by or in connection with the use of or
       reliance on any such content, goods or services available on or through
       any such web sites or services.</p>
    <p>If you click on other websites or third-party links, please be aware
       that you will be leaving our Service and any data you provide will be
       processed in accordance with said third party’s respective privacy and
       cookie policies.</p>
    <p>We strongly advise You to read the terms and conditions and privacy
       policies of any third-party web sites or services that You visit.</p>
    <p>We may collect your personal data when you:</p>
    <ul>
        <li><p>communicate with us (for example when you submit an application form
            to become our customer, or when you contact us for any enquiries
            including by calling our customer service);</p></li>
        <li><p>register or subscribe for a specific product and/or service;</p></li>
        <li><p>register interest and/or request for information of or subscribe to
            our products and/or services;</p></li>
        <li><p>lodge a complaint with us;</p></li>
    </ul>
    <p>If you are under the age of 18 years old, you are required to ensure
       that your parents or legal guardian consent on your behalf to the
       processing of your personal data as described in this Privacy Notice.</p>
    <p>It is the Company’s policy to retain personal data for as long as it is
       necessary for the purpose such personal data was collected, other
       purposes that are not incompatible with the original purpose and as
       required by law. Where the personal data is no longer necessary, such
       personal data will be disposed unless the law requires it to be archived
       in the public interest.</p>
    <li><b>Termination</b></li>
    <p>We may terminate or suspend Your Account immediately, without prior
       notice or liability, for any reason whatsoever, including without
       limitation if You breach these Terms and Conditions.</p>
    <p>Upon termination, Your right to use the Service will cease immediately.
       If You wish to terminate Your Account, You may simply discontinue using
       the Service.</p>
    <li><b>Disclaimer and Limitation of Liability</b></li>
    <p>Notwithstanding any damages that You might incur, the entire liability
       of the Company and any of its suppliers under any provision of this
       Terms and Conditions and Your exclusive remedy for all of the foregoing
       shall be limited to the amount actually paid by You as the User through
       the Service or RM ${serviceAmount} if You have not purchased anything
       through the Service.</p>
    <p>To the maximum extent permitted by applicable law, in no event shall the
       Company or its suppliers be liable for any special, incidental,
       indirect, or consequential damages whatsoever, including, but not
       limited to:</p>
    <ul>
        <li><p>damages for loss of profits,</p></li>
        <li><p>loss of data or other information,</p></li>
        <li><p>business interruption,</p></li>
        <li><p>personal injury,</p></li>
        <li><p>loss of privacy arising out of or in any way related to the use of or
            inability to use the Service,</p></li>
        <li><p>third-party software and/or third-party hardware used with the
            Service,</p></li>
        <li><p>legality, decency, or propriety of any material contained or accessed
            through our Service, including material on other websites that we may
            direct you to,</p></li>
        <li><p>any advertising material submitted by third parties and displayed on
            our Service, including any error, omission or inaccuracy thereof, or</p></li>
        <li><p>otherwise in connection with any provision of this Terms;</p></li>
    </ul>
    <p>even if the Company or any supplier has been advised of the possibility
       of such damages and even if the remedy fails of its essential purpose.</p>
    <p>We will not be liable to you for any loss or damage resulting from any
       unavailability or interruption of our service.</p>
    <p>We are also not liable for any costs associated with your network
       provider, who may charge you for accessing their connection services to
       access and use our Service. We are not responsible for the availability
       and quality of your network reception when accessing or using our
       Platform or Services.</p>
    <li><b>"As Is" and "As Available" Disclaimer</b></li>
    <p>The Service is provided to You "AS IS" and "AS AVAILABLE" and with all
       faults and defects without warranty of any kind. To the maximum extent
       permitted under applicable law, the Company, on its own behalf and on
       behalf of its Affiliates and its and their respective licensors and
       service providers, expressly disclaims all warranties, whether express,
       implied, statutory or otherwise, with respect to the Service, including
       all implied warranties of merchantability, fitness for a particular
       purpose, title and non-infringement, and warranties that may arise out
       of course of dealing, course of performance, usage or trade practice.
       Without limitation to the foregoing, the Company provides no warranty or
       undertaking and makes no representation of any kind that the Service
       will meet Your requirements, achieve any intended results, be compatible
       or work with any other software, applications, systems or services,
       operate without interruption, meet any performance or reliability
       standards or be error free or that any errors or defects can or will be
       corrected.</p>
    <p>Without limiting the foregoing, neither the Company nor any of the
       company's provider makes any representation or warranty of any kind,
       express or implied: (i) as to the operation or availability of the
       Service, or the information, content, and materials or products included
       thereon; (ii) that the Service will be uninterrupted or error-free;
       (iii) as to the accuracy, reliability, or currency of any information or
       content provided through the Service; or (iv) that the Service, its
       servers, the content, or e-mails sent from or on behalf of the Company
       are free of viruses, scripts, trojan horses, worms, malware, timebombs
       or other harmful components.</p>
    <li><b>Governing Law</b></li>
    <p>These Terms and Conditions shall be governed in accordance with the laws
       of Malaysia.</p>
    <li><b>Severability and Waiver</b></li>
    <p><u>Severability</u></p>
    <p>In the event that any of the terms, conditions or provisions contained
       in this Terms and Conditions shall be deemed invalid, unlawful or
       unenforceable to any extent, such term, condition or provision shall be
       severed from the remaining terms, conditions and provisions which shall
       continue to be valid to the fullest extent permitted by law.</p>
    <p><u>Waiver</u></p>
    <p>Except as provided herein, the failure to exercise a right or to require
       performance of an obligation under these Terms and Conditions shall not
       affect a party's ability to exercise such right or require such
       performance at any time thereafter nor shall the waiver of a breach
       constitute a waiver of any subsequent breach.</p>
    <li><b>Changes to These Terms and Conditions</b></li>
    <p>We reserve the right, at Our sole discretion, to modify or replace these
       Terms and Conditions at any time. If a revision is material, We will
       make reasonable efforts to provide at least 30 days' notice prior to any
       new terms taking effect. What constitutes a material change will be
       determined at Our sole discretion.</p>
    <p>By continuing to access or use Our Service after those revisions become
       effective, You agree to be bound by the revised terms. If You do not
       agree to the new terms, in whole or in part, please stop using the
       website and the Service.</p>
    <li><b>Miscellaneous</b></li>
    <p>The Company reserves the right, in its sole discretion, to the extent
       permissible under relevant law to temporarily or permanently modify,
       suspend, or terminate the Service and/or any part thereof.</p>
    <p>These Terms and Conditions and other documents expressly referred to in
       these Terms, as may be amended from time to time, constitute the entire
       agreement and understanding between the Company and you in relation to
       the subject matter of these Terms and Conditions and supersedes any
       previous agreement or understanding between Company and yourself in
       relation to such subject matter.</p>
    <p>For your convenience, our Service and these Terms and Conditions exist
       in a number of language and local versions but have originally been
       drawn up in the English language. In case of conflict between the
       English language version and a translated version, the English language
       version of these Terms and Conditions shall prevail.</p>
    <p>*********************************************************************************</p>
</ol>
<p><b>Contact Us</b></p>
<p>If you have any questions about these Terms and Conditions, please contact Citadel
    Group via email ${citadelCorporateEmail}
</p>
<div style="page-break-after: always;"></div>
<p><b>Signature:</b></p>
<#if signatureImage?has_content>
    <p><img src="${signatureImage}" alt="Signature" width="200" height="100" style="border-bottom: 1px solid #000;"/></p>
<#else>
<p>_________________________</p>
</#if>
<p>Name: ${userName}</p>
<p>Date: ${signedDate}</p>
<p style="margin-bottom: 20px;"></p>
</body>
</html>
