<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Reallocation Agreement</title>
    <style>
        @page {
            size: A4;
            margin: 20mm 20mm 30mm 20mm;
            @top-right {
                content: element(header);
            }

            @bottom-center {
                content: element(footer);
            }
        }

        .header {
            position: running(header);
            text-align: right;
        }

        .footer {
            position: running(footer);
            text-align: center;
            font-size: 12px;
            color: #333;
        }

        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        ul {
            list-style-type: disc; /* Force solid black dots */
        }
    </style>
</head>

<body>
<div class="header">
    <p><img style="filter: brightness(0.6) opacity(0.6);"
            src="https://sgp1.digitaloceanspaces.com/nexstream-dev/citadel/settings/January2025/RA0PvS9iQhBX9UkVSSLg.jpg"
            height="53" width="220" alt="Citadel Logo"/></p>
</div>
<div class="footer" style="margin-right: 60px; margin-left: 60px;">
    <table style="width: 100%; text-align: center; border-spacing: 0; border-collapse: collapse;">
        <tr>
            <td colspan="3"><p style="opacity: 0.6;">Citadel Group Sdn. Bhd, 43 – 7, Block C, Jaya One, 72A Jln
                Professor Diraja Ungku Aziz, Seksyen 13, 46200 Petaling Jaya, Selangor Darul Ehsan.</p></td>
        </tr>
        <tr>
            <td style="text-align: right; padding-left: 40px;">
                <a style="text-decoration: none">
                    <img style="width: 20px; height: 20px; margin-right: 5px; filter: brightness(0.6) opacity(0.6);"
                         src="https://sgp1.digitaloceanspaces.com/nexstream-dev/citadel/settings/January2025/wfYXK38zEjtX3HfG5aNO.png"/>
                </a>
                <a style="text-decoration: none">
                    <img style="width: 20px; height: 20px; margin-right: 5px; filter: brightness(0.6) opacity(0.6);"
                         src="https://sgp1.digitaloceanspaces.com/nexstream-dev/citadel/settings/January2025/Rnif43zuqWNHAi9NJVYG.png"/>
                </a>
                <a style="text-decoration: none">
                    <img style="width: 20px; height: 20px; filter: brightness(0.6) opacity(0.6);"
                         src="https://sgp1.digitaloceanspaces.com/nexstream-dev/citadel/settings/January2025/7U5H7waUflUKHGyQG3Mw.png"/>
                </a>
            </td>
            <td><p style="opacity: 0.6;">citadelgroupofficial</p></td>
            <td style="text-align: left; padding-right: 40px;"><p style="opacity: 0.6;">www.citadelgroup.online</p></td>
        </tr>
    </table>
</div>

<p><b>Reallocation Agreement</b></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin accumsan nisi orci, et feugiat magna condimentum id.
    Duis a lacus sit amet tortor pretium vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    Curabitur non tortor imperdiet, vulputate neque id, pharetra leo. Donec odio orci, ullamcorper et placerat quis,
    sagittis in libero. Sed id rhoncus eros. Cras ultricies, augue eget dignissim imperdiet, ante orci condimentum
    tellus, at congue elit nunc ut quam. Aliquam eleifend felis a mauris tempus, vitae porttitor enim condimentum.</p>
<p>Etiam pretium at ante ut auctor. Donec tincidunt leo eget libero accumsan scelerisque. Morbi nec aliquet nisl. Proin
    et placerat enim. Maecenas ut elit porttitor dolor porta imperdiet sed at nisi. Pellentesque non libero in velit
    semper sodales ac nec massa. Praesent feugiat, est a porta porttitor, elit leo cursus nibh, a porttitor neque diam
    sit amet velit.</p>
<p>Duis tristique faucibus viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
    curae; In id imperdiet neque. Morbi auctor leo non odio pharetra, ac commodo tortor egestas. Morbi tempus ultricies
    efficitur. Pellentesque et euismod risus, nec rhoncus risus. Integer vitae nulla vitae mi aliquam pharetra vitae in
    leo. Aliquam at enim bibendum, sodales ligula in, feugiat augue.</p>
<p>Integer vel lorem consectetur, commodo mauris sed, lacinia libero. Morbi eget nibh efficitur felis tempor cursus sed
    blandit libero. Nunc in elit metus. Fusce molestie sem ac nibh vestibulum, nec viverra felis viverra. Phasellus in
    vulputate urna, sed vehicula massa. Vestibulum aliquam hendrerit mi vitae elementum. Proin convallis est dolor, eu
    ultrices leo volutpat id. Donec ultrices mattis fringilla. Nunc ut porttitor sapien. Class aptent taciti sociosqu ad
    litora torquent per conubia nostra, per inceptos himenaeos. Quisque semper, sapien sit amet commodo faucibus, tellus
    quam consectetur neque, at venenatis metus mauris sed orci. Aenean malesuada mattis ligula non pharetra. Suspendisse
    bibendum tortor fringilla aliquet facilisis. Aenean scelerisque hendrerit malesuada. Mauris faucibus, mi vitae
    auctor interdum, purus ligula ullamcorper nunc, in imperdiet justo massa sit amet elit.</p>
<p>Donec commodo dolor ut diam auctor condimentum. Duis sodales, sapien sit amet egestas laoreet, arcu dolor maximus
    felis, nec imperdiet eros velit sed sapien. Duis mollis lacus non diam placerat, ac facilisis felis molestie. Etiam
    eu commodo libero, at consectetur diam. In hendrerit massa turpis, quis convallis dui congue at. Sed a urna est.
    Morbi ornare vehicula lacinia. Nullam sagittis molestie urna, nec aliquam tortor ultricies vel. Donec non maximus
    velit. Aliquam consectetur lectus eu nisi accumsan, sit amet accumsan magna efficitur. Aenean vehicula leo eget
    dolor egestas placerat. Fusce vitae nunc pulvinar, pulvinar ligula in, pellentesque lacus.</p>

<div style="page-break-after: always;"></div>
<p><b>Signature:</b></p>
<table border="1" style="width:100%; border-collapse: collapse;">
    <tr>
        <th style="text-align: left; padding: 10px;">Purchaser Signature</th>
        <th style="text-align: left; padding: 10px;">Witness Signature</th>
    </tr>
    <tr>
        <td style="vertical-align: top; padding: 10px;">
            <#if clientSignatureImage?has_content>
            <p><img src="${clientSignatureImage}" alt="Client Signature" width="200" height="100"/></p>
        </#if>
        <p>_________________________</p>
        <p>Name: ${clientName}</p>
        </td>
        <td style="vertical-align: top; padding: 10px;">
            <#if agentSignatureImage?has_content>
            <p><img src="${agentSignatureImage}" alt="Agent Signature" width="200" height="100"/></p>
        </#if>
        <p>_________________________</p>
        <p>Name: ${agentName}</p>
        </td>
    </tr>
</table>

</body>
</html>
